@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container {
    display: grid;
    margin: auto;
    position: relative;
    grid-template: 
    [header-left] "head head" 20% [header-right]
    [main-left] "books blog" 60% [main-right]
    [footer-left] "foot foot" 20% [footer-right];
}

header {
    grid-area: head;
}

.books {
    grid-area: books;
}

.blog {
    grid-area: blog;
}

.list-group {
    max-height: 400px;
    overflow-y: scroll;
}

footer {
    grid-area: foot;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        margin: auto;
        position: relative;
        grid-template:
        [header-left] "head head" 10% [header-right]
        [one-left] "books books" 30% [one-right]
        [two-left] "blog blog" 30% [two-right]
        [footer-left] "foot foot" 10% [footer-right];
    }
}
