body {
    font: Tahoma;
    font-size: 20px;
}

.container {
    display: grid;
    margin: auto;
    position: relative;
    max-width: 1000px;
    grid-template: [main-left] "about  blog" 100% [main-right];
    grid-gap: 20px;
}

.about {
    grid-area: about;
    padding: 10px;
}

.blog {
    grid-area: blog;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        margin: auto;
        position: relative;
        max-height: 1200px;
        grid-template: [main-left] "about  blog" 100% [main-right];
        grid-gap: 20px;
    }
    
    .about {
        grid-area: about;
        padding: 10px;
    }
    
    .blog {
        grid-area: blog;
        padding: 10px;
    }
}
