body {
    font: Tahoma;
    font-size: 20px;
}

.container {
    display: grid;
    margin: auto;
    position: relative;
    max-width: 1000px;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    grid-gap: 20px;
}

header {
    background-color: cadetblue;
    grid-area: 1 / 1 / 4 / 4;
    color: white;
}

header .icons {
    text-align: right;
}

header .icons i {
    color: white;
    padding: 10px;
}

header .icons i:hover {
    color: black;
}

.about {
    grid-area: 2 / 1 / span 2 / span 2;
    padding: 10px;
}

.blog {
    grid-area: 2 / 3 / span 2 / span 2;
    padding: 10px;
}

.about a:visited {
    text-decoration: none;
    color: blue;
}

.blog a:visited {
    text-decoration: none;
    color: blue;
}

p {
    line-height: 200%;
}

.blog ul {
    list-style-type: none;
    line-height: 300%;
}

.blog .quote {
    color: gray;
}


footer {
    background-color: cadetblue;
    grid-area: 4 / 1 / span 1 / span 4;
    text-align: center;
}

@media only screen and (max-width: 600px) {

    .container {
        display: grid;
        margin: auto;
        position: relative;
        max-height: 1200px;
        grid-template: repeat(4, 1fr) / repeat(4, 1fr);
        grid-gap: 20px;
    }
    
    .about {
        grid-area: 2 / 1 / span 1 / span 4;
        padding: 10px;
    }
    
    .blog {
        grid-area: 3 / 1 / span 1 / span 4;
        padding: 10px;
    }

}