@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font: Tahoma;
    font-size: 20px;
}

.container {
    display: grid;
    margin: auto;
    position: relative;
    max-height: 1200px;
    max-width: 1000px;
    grid-template: 
    [header-left] "head head" 20% [header-right]
    [main-left] "about  blog" 60% [main-right]
    [footer-left] "foot  foot" 20% [footer-right];
    grid-gap: 20px 30px;
    padding: 10px;
}

header {
    grid-area: head;
}

.about {
    grid-area: about;
}

.blog {
    grid-area: blog;
}

.list-group {
    max-height: 400px;
    overflow-y: scroll;
}

footer {
    grid-area: foot;
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        margin: auto;
        position: relative;
        max-height: 1200px;
        grid-template:
        [header-left] "head head" 20% [header-right]
        [main-left] "about  blog" 60% [main-right]
        [footer-left] "foot  foot" 20% [footer-right];
        grid-gap: 20px 30px;
        padding: 10px;
    }
}
